.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 3rem;
}

.company {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  max-width: 40%;
}

.company-name {
  text-align: center;
  font-size: 1.2rem;
}

.company-image {
  width: 50%;
  height: auto;
}

.work-role-and-start-end-dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.work-role {
  font-size: 1.05rem;
}

.work-details {
  padding: 0.5rem;
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.158);
  backdrop-filter: blur(25px);
  border-radius: 25px;
}

.work-dates {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.work-highlights-li {
  margin: 0.6rem 0;
  font-size: 1.05rem;
  /* backdrop-filter: blur(35px);
  border-radius: 20px;
  padding: 0.25rem; */
}
