.outer-container {
  display: flex;
  justify-content: center;
}

.container {
  flex-grow: 1;
  padding-top: 2rem;
  min-height: 40vh;
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
  color: rgba(95, 93, 192, 0.63);
  font-family: "Dancing Script", cursive;
  font-size: 2.9rem;
}

.hr {
  margin: 1rem auto;
  width: 82%;
  border-top: none;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgba(56, 55, 55, 0.568);
}
