.container {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.158);
}

.resume-skills-heading {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.skill {
  font-size: 0.95rem;
  line-height: 1.4rem;
}
