.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(30px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid rgba(95, 93, 192, 0.63);
  z-index: 30;
}

.header-links {
  font-size: 1rem;
  margin: 0 1.3rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s;
}

.header-links:hover {
  color: rgba(95, 93, 192, 0.63);
  transform: scale(1.05);
}
