.container {
  margin: auto;
  height: 100vh;
  font-family: "Dancing Script", cursive;
}

.greeting-text {
  font-size: 4.7rem;
  text-align: center;
  padding-top: 18%;
}

.lower-text {
  font-size: 2.3rem;
  text-align: center;
  padding-top: 1rem;
}

.emphasis {
  color: rgba(95, 93, 192, 0.63);
}
