.App {
  background-image: url(./pictures/pic2.jpg);
  /* background: url(./pictures/pic2.jpg) no-repeat center center fixed; */
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
