.App {
  background-image: url(./pictures/april.png);
  height: 300vh;
  background-size: cover;
  background-attachment: fixed;
}
.title {
  text-align: center;
}
.name {
  color: palevioletred;
  padding-top: 30px;
}
