.container {
  background-color: white;
  height: 60vh;
  font-family: "Montserrat", sans-serif;
}

.about-me {
  text-align: center;
  padding-top: 4rem;
}

.profile-img {
  width: 280px;
  height: 250px;
  border-radius: 50%;
}

.img-bio-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.bio {
  font-size: 1.05rem;
  margin-left: 2rem;
  width: 40%;
  max-width: 40%;
}

.horizontal-rule {
  color: rgba(95, 93, 192, 0.63);
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
