.container {
  /* background-color: rgb(204, 203, 221); */
  /* background-color: rgba(220, 220, 235, 0.198); */
  background-color: rgba(198, 196, 228, 0.651);
  min-height: 50vh;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 600; */
  padding-bottom: 3.5rem;
  backdrop-filter: blur(5px);
}

.about-me {
  color: rgba(95, 93, 192, 0.63);
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding-top: 3rem;
  font-size: 3.1rem;
}

.hr {
  width: 75%;
  margin: 1rem auto;
  border-top: none;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgba(56, 55, 55, 0.568);
}

.profile-img {
  width: 280px;
  height: 250px;
  border-radius: 50%;
}

.img-bio-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.bio-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 4rem;
}

.bio {
  font-size: 1.13rem;
}

.horizontal-rule {
  color: rgba(95, 93, 192, 0.63);
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  border: 0.5px solid rgba(95, 93, 192, 0.63);
}
